[package]
org = "ballerina"
name = "ftp"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["FTP", "SFTP", "remote file", "file transfer", "client", "service"]
repository = "https://github.com/ballerina-platform/module-ballerina-ftp"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.10.0"

[platform.java17]
graalvmCompatible = true

[[platform.java17.dependency]]
groupId = "org.apache.commons"
artifactId = "commons-vfs2"
version = "@commons.vfs2.version@"
path = "./lib/commons-vfs2-@commons.vfs2.version@.jar"

[[platform.java17.dependency]]
groupId = "com.jcraft"
artifactId = "jsch"
version = "@jsch.version@"
path = "./lib/jsch-@jsch.version@.jar"

[[platform.java17.dependency]]
groupId = "commons-net"
artifactId = "commons-net"
version = "@commons.net.version@"
path = "./lib/commons-net-@commons.net.version@.jar"

[[platform.java17.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "ftp-native"
version = "@toml.version@"
path = "../native/build/libs/ftp-native-@project.version@.jar"
